.card {
    width: 240px;
    background: #f3f3f3;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.card-img {
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.card-info {
    margin-top: 10px;
    text-align: left;
}

.model {
    font-size: 18px;
}

.prop {
    font-size: 14px;
    margin: 3px 0;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.btn {
    width: 48%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

/* Edit */
.edit {
    background: #4da3ff;
}
.edit:hover {
    background: #1e7cd1;
}

/* Delete */
.delete {
    background: #ff4d4d;
}
.delete:hover {
    background: #cc0000;
}
