body {
    font-family: Arial, sans-serif;
    background: #eee;
    margin: 0;
    padding: 0;
}

/* ---------------- HEADER ---------------- */
.header {
    background: #8ecae6;
    padding: 20px;
    text-align: center;
    border: 2px solid #023047;
    margin-bottom: 10px;
}

/* ---------------- NAV ---------------- */
.nav {
    background: #ffb703;
    padding: 15px;
    text-align: center;
    border: 2px solid #fb8500;
    margin-bottom: 10px;
}

/* ---------------- CONTENT ---------------- */
.content {
    width: 70%;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #333;
    float: left;
    box-sizing: border-box;
    height: 300px;
}

/* ---------------- ASIDE ---------------- */
.aside {
    width: 25%;
    background: #d9ed92;
    padding: 20px;
    border: 2px solid #6a994e;
    float: right;
    box-sizing: border-box;
    height: 300px;
}

/* ---------------- FOOTER ---------------- */
.footer {
    clear: both;
    background: #219ebc;
    padding: 20px;
    text-align: center;
    border: 2px solid #1d3557;
    margin-top: 10px;
}
