body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    position: relative;
    width: 250px;
    height: 250px;
}

.photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.frame {
    width: 250px;
    height: 250px;
    border: 6px solid #ff8800;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    z-index: 1;
}
